// - - - - - - - - - - - - - - - - - -

// member

// - - - - - - - - - - - - - - - - - -

.member {
	margin-top: 0;
	padding: $grid-spacing/2;
}

.member-wrap {
	
}

.member-post {
	position: relative;
	padding: $grid-spacing/2;
	float: left;
	width: 50%;
}

.member-post__link {
	position: relative;
	display: block;

	@include mq(tabletl) {

		&:hover {

			.member-post__content {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.member-post__image {
	width: 100%;
}

.member-post__content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba($overlay-background-color, $overlay-opacity);

	opacity: 0.5;
	visibility: visible;
	@include transition(all 0.2s ease-in-out);
}

.member-post__info {
	text-align: center;
}

.member-post__title {
	color: $overlay-text-color;
	font-size: $grid-item-title-small;
	font-weight: $grid-item-title-weight;
	letter-spacing: $grid-item-title-spacing;

	@include mq(tabletp) {
		font-size: $grid-item-title-medium;
	}

	@include mq(laptop) {
		font-size: $grid-item-title-large;
	}
}

.member-post__subtitle {
	margin-top: 5px;
	color: rgba($overlay-text-color, 0.7);
	font-size: $grid-item-subtitle-small;
	font-weight: $grid-item-subtitle-weight;
	letter-spacing: $grid-item-subtitle-spacing;

	@include mq(tabletp) {
		font-size: $grid-item-subtitle-medium;
	}

	@include mq(laptop) {
		font-size: $grid-item-subtitle-large;
	}
}

.pagination {
	margin-top: 0;
	padding: 0 $grid-spacing/2 $grid-spacing;
}

.pagination__prev,
.pagination__next {
	width: 50%;
	padding: 0 $grid-spacing/2;

	.button {
		display: block;
		text-align: center;
	}
}

.pagination__prev {
	float: left;
}

.pagination__next {
	float: right;
}
