<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="assets/img/SeoulAI.ico" />

  <title>Seoul AI Hackathon</title>
  <meta name="description" content="Seoul AI is hosting third AI hackathon on Saturday, October 13th. Hackathon is based on the new toolkit from Seoul AI for developing AI algorithms - Seoul AI Gym. This gym simulates various environments and enables the use of any teaching technique on an agent. The goal of every hackathon participant is to develop an agent that can play Checkers. Each participant will train an agent to compete in a tournament. We encourage participants to use any machine learning algorithm of their choice. No particular training set will be given. Each participant will have their own responsibility to find a way to train their ow        ">

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
</head>

<body>
<div id="particles-js">
  <div class="header">
      <h1>
        <img src="assets/img/logo.png" style="max-width: 99%; max-height: 99%;">
        <div id="Compteur">&nbsp;</div>
      </h1>
      <div class="header-icons">
        <a aria-label="Seoul AI Slack" href="https://seoulai.slack.com/" target="_blank"><i class="icon fa fa-slack"></i></a>
        <a aria-label="Seoul AI Meetup" href="https://www.meetup.com/Seoul-Artificial-Intelligence/"  target="_blank"><i class="icon fa fa-meetup"></i></a>
        <a aria-label="Seoul AI Twitter" target="_blank" href="https://twitter.com/seoul_ai"  target="_blank"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="Seoul AI Facebook" target="_blank" href="https://www.facebook.com/seoulai"  target="_blank"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="Seoul AI Github" target="_blank" href="https://github.com/seoulai/gym"  target="_blank"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
  </div>
  <a class="down" href="#projects" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>

<script type="text/JavaScript">
var idtimeCompteur=0;
function DisplayCompteurCompteur() {
	var delais = 1;
	var CompteurAffiche=document.getElementById("Compteur");
	var html = "<span style=\"color: #fff; font-size:0.8em\"><strong><span>[j]D </span></strong><span>[h]h [m]m [s]s </span></span>" ;
	var htmlafter = "" ;
	var date1 = new Date();
	var date2 = new Date (2018, 9, 13, 13, 30, 0);
	var nbsec = (date2 - date1) / 1000;
	var nbsecj = 24 * 3600;
	var stopcpt=false
	if (nbsec <= 0) {
		nbsec=-nbsec;
		if (htmlafter!="")
			{ html=htmlafter; }
		else
			{stopcpt=true;}
	}
	var j = Math.floor (nbsec / nbsecj);
	var h = Math.floor ((nbsec - (j * nbsecj)) / 3600);
	var m = Math.floor ((nbsec - ((j * nbsecj + h * 3600))) / 60);
	var s = Math.floor (nbsec - ((j * nbsecj + h * 3600 + m * 60)));
	if (stopcpt==true) {j=0;h=0;m=0;s=0}
	var html = html.replace("[j]",j);
	var html = html.replace("[h]",h);
	var html = html.replace("[m]",m);
	var html = html.replace("[s]",s);
	if (CompteurAffiche!=null) {CompteurAffiche.innerHTML = html;}
	if (stopcpt==false) {idtimeCompteur=setTimeout ("DisplayCompteurCompteur();", 1*1000);}
}
DisplayCompteurCompteur();
</script>

<section id="projects">
<div class="user-details">
<br/>
<p style="text-align:right">
  <a href="hackathon">English</a> | 한국어
</p>
<p style="text-align:justify">
<br/>
Seoul AI는 <b>10월 13일 토요일</b>에 세 번째 AI 해커톤을 개최 합니다.
해커톤은 <a href="https://github.com/seoulai/gym">Seoul AI Gym</a>을 활용합니다.
Gym은 AI 알고리즘을 개발하기 위한 Seoul AI의 새로운 툴킷이고, 다양한 환경을 시뮬레이션하며 에이전트에게 어떤 학습 기법도 적용할 수 있습니다.
모든 해커톤 참가자에게 주어지는 과제는 <a href="https://en.wikipedia.org/wiki/Draughts">Checkers</a>를 실행할 수 있는 에이전트를 개발하는 것입니다.
각 참가자는 토너먼트에서 참가할 에이전트를 훈련시켜야 합니다. 이를 위해 참가자들이 선택한 기계 학습 알고리즘을 사용하길 권장합니다.
특정한 훈련 세트는 주어지지 않을 것입니다. 각 참가자는 자신의 에이전트를 훈련 할 수있는 방법을 찾아서 적용해야 합니다.
</p>
</div>

<h3 style="text-align:left">토너먼트</h3>

<span>대회는 <a href="https://en.wikipedia.org/wiki/Bracket_(tournament)">토너먼트</a> 방식이고, 다음과 같은 방법으로 진행됩니다:
</span>
<ul>
  <li>토너먼트 트리가 무작위로 생성됩니다.</li>
  <li>모든 훈련된 에이전트는 1분 동안 여러 게임과 1대1로 겨룹니다. 더 많은 승수를 가진 에이전트가 우승합니다. 동점인 경우 첫 번째 게임에서 우승 한 에이전트가 우승자입니다.</li>
  <li>에이전트는 경기 중에 배울 수 있습니다.</li>
  <li>에이전트가 행동하는데 1초 이상 걸리면 무작위 이동이 자동으로 수행됩니다.</li>
</ul>

<h3 style="text-align:left">일정</h3>
2018년 10월 13일 토요일</br>
&nbsp;</br>

<span><b>10:00 - 10:15</b> 대회 시작</span>
<span><b>10:15 - 10:30</b> Seoul AI Gym과 Checkers 소개</span>
<span><b>10:30 - 12:30</b> 해킹</span>
<span><b>12:30 - 13:30</b> 중식 (장소 스폰서가 제공)</span>
<span><b>13:30 - 18:20</b> 해킹</span>
<span><b>18:20 - 18:50</b> 토너먼트</span>
<span><b>18:50 - 19:00</b> 우승자 발표</span>

<h3 style="text-align:left">등록</h3>
<span>모든 참가자는 <a href="http://bit.ly/seoulai-hackathon">http://bit.ly/seoulai-hackathon</a>를 통해 사전등록해야 합니다. 사전등록을 하신분 중 참석 확정 메일을 받은 분에 한해서 입장이 가능합니다.</span>

<span>&nbsp;</span>
<span>문의사항은 <a href="cinyoung@seoulai.com">cinyoung@seoulai.com</a> 으로 자유롭게 보내주세요.</span>

<h3 style="text-align:left">위치</h3>
하이퍼커넥트</br>
서울시 서초구 서초대로78길 5, 대각빌딩 14층
&nbsp;</br>
&nbsp;</br>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3165.4515690893822!2d127.02735559999999!3d37.4972664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca15a2f9719ab%3A0x20210a76b2b256f7!2z64yA6rCB67mM65Sp!5e0!3m2!1sen!2s!4v1508801167955" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>

<h3 style="text-align:left">행사장</h3>
<div class="user-projects">
  <div class="images-left">
    <a href="{{ "/assets/img/hackathon/venue1.jpg" | prepend: site.baseurl }}" target="_blank">
    <img src="{{ "/assets/img/hackathon/venue1.jpg" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="images-right">
    <a href="{{ "/assets/img/hackathon/venue2.jpg" | prepend: site.baseurl }}" target="_blank">
    <img src="{{ "/assets/img/hackathon/venue2.jpg" | prepend: site.baseurl }}" />
    </a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <a href="{{ "/assets/img/hackathon/venue3.jpg" | prepend: site.baseurl }}" target="_blank">
    <img src="{{ "/assets/img/hackathon/venue3.jpg" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="images-right">
    <a href="{{ "/assets/img/hackathon/venue4.jpg" | prepend: site.baseurl }}" target="_blank">
    <img src="{{ "/assets/img/hackathon/venue4.jpg" | prepend: site.baseurl }}" />
    </a>
  </div>
</div>

<div style="width: 100px;">&nbsp;</div>
<a name="sponsors"></a>
<h3 style="text-align:left; padding-top: 10px;">스폰서</h3>
<div class="user-projects" style="vertical-align: center">
  <div class="images-left">
    <img src="{{ "/assets/img/hackathon/hpcnt.png" | prepend: site.baseurl }}" />
  </div>
  <div class="images-right">
    <img src="{{ "/assets/img/hackathon/aws.png" | prepend: site.baseurl }}" />
  </div>
</div>
<div style="width: 100px;">&nbsp;</div>
<div style="width: 100px;">&nbsp;</div>
</section>

<div style="background-color: black;">
  <section id="projects">
    <div id="technical"> {{ content }} <div>
  </section>

  <footer class="footer">
    <p>Build with <span class="love">❤</span> by <a href="#" target="_blank">Imane</a></p>
  </footer>
</div>

<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>

{% if site.google_analytics %}
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
  </script>
{% endif %}
<body>
<html>
